/* Little cat */
.cat {
  --size: 100;
  --unit: calc((var(--size) / 470) * 1vmin);
  position: fixed;
  bottom: 1%;
  right: 1%;
  width: calc(75 * var(--unit));
  height: calc(75 * var(--unit));
}
.cat .pupil {
  fill: var(--color-primary);
  fill: rgb(60, 119, 230);
  fill: #090909;
}
.cat .inner-pupil {
  fill: #000;
}
.cat .outer-pupil-body {
  fill: transparent;
  stroke: #090909;
}
.cat .outer-pupil {
  fill: var(--color-primary);
  fill: rgb(143, 222, 253);
}
.cat .body-cat {
  fill: #090909;
}
.cat .nose {
  fill: #faccfb;
}
