/* the 'body' selector is required for the tests to pass */
/* You can change the style attributes if you want */
:root {
  --space-root: 1rem;
  --space-xs: calc(var(--space-root) / 2);
  --space-s: calc(var(--space-root) / 1.5);
  --space-m: var(--space-root);
  --space-l: calc(var(--space-root) * 1.5);
  --space-xl: calc(var(--space-root) * 2);
  --color-primary: mediumslateblue;
  --color-secondary: black;
  --color-tertiary: #222;
  --color-contrast: #ddd;
  --base-border-radius: 0.25rem;
  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  --duration: 350ms;
  --font-family: "Roboto", sans-serif;
  --font-size: 1.25rem;
}
* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
  color: var(--color-contrast);
  padding: var(--space-m);
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 1.2;
  background-color: var(--color-tertiary);
}

header {
  text-align: center;
}

a {
  color: var(--color-primary);
}

a:focus {
  color: var(--color-secondary);
}

h1 {
  font-weight: 700;
  font-size: calc(var(--font-size) * 2.5);
}

input[type="text"] {
  background-color: var(--color-contrast);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: -apple-system, Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
a:hover {
  color: var(--color-contrast);
}
a:hover + .arrow {
  opacity: 1;
  transform: none;
}
.arrow {
  display: inline-block;
  opacity: 0;
  margin-left: 0.125rem;
  transform: translateX(-0.375rem);
  transition: all 250ms ease-out;
}
a:focus {
  color: var(--color-secondary);
}

/*Form style*/

.input-wrapper:focus-within label {
  color: var(--color-secondary);
}
.input-wrapper:focus-within .icon {
  background-color: var(--color-secondary);
}
.input-wrapper:focus-within input {
  border-color: var(--color-secondary);
}
.input-wrapper + .input-wrapper {
  margin-top: var(--space-l);
}

.input-group {
  position: relative;
}
.input-group input {
  border-radius: var(--base-border-radius);
  padding-left: calc(var(--space-s) + 60px);
}
.input-group .icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-top-left-radius: var(--base-border-radius);
  border-bottom-left-radius: var(--base-border-radius);
  pointer-events: none;
}

label {
  font-size: calc(var(--font-size) / 1.65);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.065rem;
  display: block;
  margin-bottom: var(--space-xs);
  color: var(--color-primary);
}

.icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  padding: var(--space-m);
  background-color: var(--color-primary);
}
.icon svg {
  width: 1.25em;
  height: 1.25em;
  fill: var(--color-contrast);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: -webkit-transform var(--duration) var(--ease);
  transition: -webkit-transform var(--duration) var(--ease);
  transition: transform var(--duration) var(--ease);
  transition: transform var(--duration) var(--ease),
    -webkit-transform var(--duration) var(--ease);
}

input {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  width: 100%;
  outline: none;
  padding: var(--space-m);
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--color-secondary);
  border: 2px solid var(--color-primary);
}
input:focus {
  color: var(--color-primary);
}

.btn {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  outline: none;
  padding: var(--space-m) var(--space-l);
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: var(--base-border-radius);
}

.btn--primary {
  font-size: calc(var(--font-size) / 1.65);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.065rem;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-contrast);
}
.btn--primary:hover {
  background-color: var(--color-contrast);
  border-color: var(--color-contrast);
  color: var(--color-primary);
}
.btn--primary:focus {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn--text {
  font-size: calc(var(--font-size) / 1.5);
  padding: 0;
}

/* Little cat */
.cat {
  --size: 100;
  --unit: calc((var(--size) / 470) * 1vmin);
  position: fixed;
  bottom: 1%;
  right: 1%;
  width: calc(75 * var(--unit));
  height: calc(75 * var(--unit));
}
.cat .pupil {
  fill: var(--color-primary);
  fill: rgb(60, 119, 230);
  fill: #090909;
}
.cat .inner-pupil {
  fill: #000;
}
.cat .outer-pupil-body {
  fill: transparent;
  stroke: #090909;
}
.cat .outer-pupil {
  fill: var(--color-primary);
  fill: rgb(143, 222, 253);
}
.cat .body-cat {
  fill: #090909;
}
.cat .nose {
  fill: #faccfb;
}
